# Secrets (CRITICAL)
.env
.env.local

# Binaries
/bin/
/dist/
polaris  
*.exe
*.dll
*.so

# Dependencies
vendor/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
.docx
# Docker
docker-compose.override.yml

architecture plan.docx
~$chitecture plan.docx
codebase.txt
VersionizedProgress.docx
Polaris/southern-zone-latest.osm.pbf
southern-zone-latest.osm.pbf
/chennai_map